@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400');

/* Universal Selectors */
body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  color: white;
  background: black;
  height: 100%
}

.container {
  margin: 0 auto;
  max-width: 940px;
  padding: 0 10px;
}

/* Navbar */
.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

.topnav li {
  float: left;
}

.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 40px 25px;
  text-decoration: none;
}

.topnav li a:hover {
  background: white;
  color: black;
  transition: background .75s;
  cursor: pointer;
}

.topnav .right {
  float: right;
}
  /* Collapses nav-bar to respond to mobile sized device */
@media screen and (max-width: 600px) {
    ul.topnav li.right,
    ul.topnav li {float: none;}
}

/* Nav Bar Dropdowns */
.about-dropdown {
  display: none;
  width: 98.25%;
  padding: 10px;
  border-top: 1px white solid;
  border-left: 1px white solid;
  border-right: 1px white solid;
}

.about-dropdown a {
  color: white;
}

.about-dropdown p {
  margin-left: 20px;
}

.mark-fowler {
  display: none;
  width: 98.25%;
  padding: 10px;
  border-top: 1px white solid;
  border-left: 1px white solid;
  border-right: 1px white solid;
}

.mark-fowler p {
  margin-left: 20px;
}

.connect {
  display: none;
  width: 98.25%;
  padding: 10px;
  border-top: 1px white solid;
  border-left: 1px white solid;
  border-right: 1px white solid;
}

.connect p {
  margin-left: 10px;
}

.connect a {
  padding-right: 10px;
}

/* Main */
.main {
  border-top: 1px white solid;
}

.main .container h3 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 32px;
  text-align: center;
  padding-top: 80px;
  color: white;
}

/* Gallery */
.gallery {
  margin-top: 20px;
	display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.gallery-item {
  margin: 20px;
}

.gallery-item .thumbnail {
  border: 2px solid #fff;
  height: auto;
  width: auto;
  max-height: 550px;
  max-width: 550px;
}

@media screen and (max-width: 600px) {
  .gallery-item .thumbnail {max-width: 400px; max-height: 400px;}
}

/* Footer */
.footer {
  height: 70px;
  padding-bottom: 80px;
  border-top: 1px solid white;
  margin-top: 50px;
}

.footer p {
  height: 80px;
  line-height: 80px;
  margin: 20;
  font-size: 12px;
}
